{{>head}}
{{>menu}}

    <section>
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-12 main_header_right">
                    <img src="images/about.png" class="img-fluid about_img">
                </div>
                <div class="col-md-6 col-12 main_header_left ps-5">
                    <p>Welcome to Weather app About Page</p>
                    <h1>Get the Letest <span> Weather </span> info of your city</h1>
                    <a href="/weather"><button>Check Now</button></a>
                </div>
            </div>
        </div>
    </section>

  {{>footer}}
{{>script}}