{{>head}}
{{>menu}}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
                    <div class="main_content">
                        <form  class="temp_form">
                            <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                            <input type="submit" value="Search" id="submitBtn">
                        </form>
                    </div>

                    <div class="tem_info col-md-7 col-12 mx-auto">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_data">13 Oct</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_edit_val">0</span> <sup>o</sup> C</p>
                                <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

{{>footer}}
{{>script}}

<script src="js/main.js"></script>
<script>

{{!-- get day code --}}
    const day = document.getElementById('day');
    const getCurrentDay = () => {
            let weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];
            day.innerText = days;
        };
        getCurrentDay();



    const today_data = document.getElementById('today_data');
    const getCurrentTime = () => {
            const months = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];

            const now = new Date();
            let month = months[now.getMonth()];
            let day = now.getDate();
            today_data.innerText = `${month} | ${day}`;
    };
    getCurrentTime();
</script>